$color1: #232323;
$color2: #e0e0e0;
$color3: #07BECB;
$color4: #EEFAFC;
$color5: #09BDCA;
$color6: #ffffff;
$color7: #000000;
$color8: #dcdcdd;
$color9: #ededed;
$color10: #46A1D1;
$color11: #999999;
$color12: #1C3155;
$color13: #222222;
$color14: #aaaaaa;
$color15: #1c3155;
$color16: #2459b5;
$color17: #219653;
$color18: #03828b;
$color19: #0abecb;
$color20: #333333;
$color21: #828282;


$desktop-x: 1920px;
$desktop-m: 1440px;
$desktop-s: 1280px;

$tablet-x: 1024px;
$tablet-m: 991px;
$tablet-s: 767px;

$mobile-x: 479px;
$mobile-m: 375px;
$mobile-s: 320px;
